<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENI ISSUE</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    <h1>ERREUR 404</h1>
    <H2>Fichier introuvable</H2>
    <dotlottie-player src="https://lottie.host/f32ee15e-6fe0-48cc-8926-7a25e90ccc65/v2Z1S3gl3l.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
  </body>

  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>

</html>
