<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENI ISSUE</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>

    <div style="width: 60%; margin: auto">
      <h1>Une erreur inattendue s'est produite !</h1>
      <h2><%= erreur.nom %></h2>
      <p><%= erreur.message %></p>
      
</div>
  </body>
</html>
